<div class="container">
    <h2 id="menu-categories-title" class="text-center">User Profile:</h2>
    <div class="text-center">

        <br>
        <div ng-if="menuMyInfoCtrl.checkIfRegistered">
          <h3> {{ menuMyInfoCtrl.message }} </h3>
          <h3> email: {{ menuMyInfoCtrl.email }} </h3>
          <h3> phone: {{ menuMyInfoCtrl.phone }} </h3>
          <h3> favorite menu item: {{ menuMyInfoCtrl.shortname }} </h3>

         <div ng-if="menuMyInfoCtrl.pictureAvailable">
            <img width="200" height="200" ng-src="images2/menu/{{menuMyInfoCtrl.shortname}}/{{menuMyInfoCtrl.shortname}}.jpg" alt="Menu Image">
         </div>
         <h3> description: {{ menuMyInfoCtrl.desc }} </h3>
         <h3> *Please note that we only have menu pictures for item A1, B2, C5, SP1 and V3 </h3>
        </div>

         <div ng-if="!menuMyInfoCtrl.checkIfRegistered">
            <h3> Not Signed Up Yet. Sign up Now! </h3>
         </div>
    </div>

    <menu-category ng-repeat="menuCategory in menuCtrl.menuCategories" category="menuCategory">
    </menu-category>

</div>
